* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}
.container {
    height: 80%;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.container button {
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}